<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/feed.css">
    <link rel="icon" href="../static/img/main_icon.svg">
</head>

<body>
    <main>
        <div class="main_wrapper">
            <div class="logo_wrapper">
                <img src="../static/img/logo.svg" class="logo" draggable="false">
            </div>
            <div class="content_wrapper">
                <div class="profile_wrapper">
                    <div class="profile_info">
                        <img src="https://www.gravatar.com/avatar/{{ user.gravatar_hash() }}?d=identicon" class="profile_icon"> <!-- Add gravatar link -->
                        <div class="profile_description">
                            <div class="username">
                                <h1>{{ user.name }}</h1>
                                <a class="alias" href="{{ url_for('frontend.feed', slug=user.slug) }}">@{{ user.slug }}</a>
                            </div>
                            <!-- Add variable to value -->
                            <input type="text" value="Lorem ipsum" placeholder="Change status" class="status">
                        </div>
                    </div>
                    <div class="profile_counts_wrapper">
                        <div class="profile_counts">
                            <h3><mark>{{ user.subscribers_count() }}</mark> followers</h3>
                            <h3><mark>{{ user.subscriptions_count() }}</mark> following</h3>
                        </div>
                        <a href="somewhere" class="button">New podcast</a> <!-- Change address -->
                    </div>
                </div>
                <div class="feed_wrapper">
                    {% if posts %}
                        {% for post in posts %}
                            <div class="post">
                                <div class="post_main_wrapper">
                                    <div class="post_header">
                                        <!-- Add link to someone profile -->
                                        <a href="">
                                            <div class="post_author_wrapper">
                                                <img src="gravatar_here" class="small_profile_icon"> <!-- Add gravatar link -->
                                                <div class="post_author_name">
                                                    <h4>slug</h4> <!-- Add variable -->
                                                    <h4 class="alias">slug</h4> <!-- Add variable -->
                                                </div>
                                            </div>
                                        </a>
                                        <div class="post_timestamp">
                                            16 March 2021<br> <!-- Add variable -->
                                            15:45
                                        </div>
                                    </div>
                                    <div class="post_content">
                                        <p>{{ post.caption }}</p> <!-- Add variable -->
                                        <!-- Add audio path -->
                                        <audio controls controlsList="nodownload noplaybackrate" src="some_audio"></audio>
                                    </div>
                                </div>
                                <div class="post_footer">
                                    <div class="like_wrapper">
                                        <input type="checkbox" class="like" id="like">
                                        <label for="like" class="like_label"></label>
                                        {{ post.likes }} likes
                                        <!-- Add variable -->
                                    </div>
                                    <button type="reset" class="delete_post"><img src="../static/img/trash.svg" class="trash_icon"></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="empty-feed-text-wrapper">
                            <p class="empty-feed-text">
                                There are no interesting for you right now :(
                                <br>
                                <a href="TODO">Create post</a> by yourself!
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <nav>
                <div class="selectors_wrapper">
                    <!-- Add "background-color: var(--main-logo-color)" when selector is chosen -->
                    <a href="{{ url_for('frontend.feed', slug=user.slug) }}" class="selector" style="">
                        <img src="../static/img/account.svg" class="selector_icon">
                        My page
                    </a>
                    <!-- Add "background-color: var(--main-logo-color)" when selector is chosen -->
                    <a href="url_for('frontend.feed') " class="selector" style="">
                        <img src="../static/img/article.svg" class="selector_icon">
                        Feed
                    </a>
                    <input type="search" placeholder="Search authors" class="search_authors">
                </div>
            </nav>
        </div>
    </main>
    <script src="../static/js/input_adjust.js"></script>
</body>

</html>
